.description{
    position: absolute;
    width: 550px;
    height: 210px;
    left: 790px;
    top: 90px;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 115%;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #030303;
}