.employeeCount{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 230px;
  align-items: center;
}
.employeeCount_text {
  width: 170px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000000;
}
.employeeCount_no {
  font-size: 40px;
  color: #ff1a40;
  font-weight: 700 ;
}
