#employee_form {
  width: 260px;
  height: 360px;
  border: 1px solid #ff1a40;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  letter-spacing: 0.01em;
  padding: 7px;
  font-size: 13px;
  align-self: center;
  width:80%;
}
input{
  padding: 7px;
  width:80%;
  align-self: center;
  font-size: 12px;
}
select {
  align-self: center;
  padding:7px;
  width:85%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding:20px 0;
}


