table {
  left: 500px;
  position: absolute;
  top: 500px;
  left: 650px;
  height: 170px;
  width: 44%;
}
td {
  text-align: center;
  background: #f0f2f4;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 115%;
}
th {
  background: #808692;
  box-shadow: inset 0px -1px 0px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 115%;
}
