table {
  height: 170px;
  min-width: 700px;
  margin:0 80px;
}

td {
  text-align: center;
  background: #f0f2f4;
  font-size: 14px;
}

th {
  background: #808692;
  box-shadow: inset 0px -1px 0px;
  line-height: 115%;
}
